*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    line-height: 119px;
    font-style: normal;
    font-weight: normal;
}

.footer
{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #253136;

}

.inner_footer
{
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 100%;
}

.footer_thrid
{
    width: calc(21.67% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.footer_thrid:last-child
{
    margin-right: 0;
}

h1
{
    margin-right: 0;
    font-size: 81px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.button
{
    width: calc(30.67% - 20px);
    margin-right: 10px;
    height: 100%;
    text-align: center;
    font-size: 54px;
    
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 80px
}
.socials
{
    width: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: right;
    height: 100%;
    font-size: 54px;

    display: flex; 
    justify-content: space-around; 
    position: relative;
    
}
.line
{
    height: 3px;
    width: 100%;
    background-color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}